In [4]:
class vehicle:
  def __init__(self,id,brand,rent):
    self.id=id
    self.brand=brand
    self.rent=rent

  def disp_details(self):
    print("id:",self.id)
    print("brand:",self.brand)
    print("rent:",self.rent)

  def calcrent(self,day):
    return self.rent*day


mehran=vehicle(100,"SUZUKI",1000)
mehran.disp_details()
alto=vehicle(101,"TOYOTA",1500)
alto.disp_details()
print("rent:",mehran.calcrent(5))
print("rent:",alto.calcrent(5))

id: 100
brand: SUZUKI
rent: 1000
id: 101
brand: TOYOTA
rent: 1500
rent: 5000
rent: 7500

In [7]:
class employee:
  def __init__(self,name,id):
    self.name=name
    self.id=id

  def calcsalary(self):
    return

  def disp_details(self):
    print("name:",self.name)
    print("id:",self.id)


class fulltime(employee):
  def __init__(self,name,id,salary):
    super().__init__(name,id)
    self.salary=salary

  def calc(self):
    return self.salary

  def  disp_details(self):
    print("fulltime employee")
    super().disp_details()
    print("salary:",self.salary)


class halftime(employee):
  def __init__(self,name,id,hours,rate):
    super().__init__(name,id)
    self.hours=hours
    self.rate=rate

  def calcsalary(self):
    return self.hours*self.rate

  def disp_details(self):
    print("halftime employee")
    super().disp_details()
    print("hours:",self.hours)
    print("rate:",self.rate)
    print("salary:",self.calcsalary())



usman=fulltime("usman",100,10000)
usman.disp_details()
huzaifa=halftime("huzaifa",101,10,1000)
huzaifa.disp_details()

fulltime employee
name: usman
id: 100
salary: 10000
halftime employee
name: huzaifa
id: 101
hours: 10
rate: 1000
salary: 10000

In [8]:
class student:
  def __init__(self,name,id,marks):
    self.name=name
    self.id=id
    self.__marks=marks

  def setmarks(self,marks):
    self.__marks=marks

  def getmarks(self):
    return self.__marks

  def calcgrade(self):
    if self.__marks >=80:
      return "A"
    elif self.__marks >=70 and self.__marks < 80:
      return "B"
    elif self.__marks >=60 and self.__marks < 70:
      return "C"
    elif self.__marks >=50 and self.__marks < 60:
      return "D"
    else :
      return "fail"


usman = student("Usman",100,100)
print(usman.getmarks())
print(usman.calcgrade())

huzaifa=student("huzaifa",101,80)
huzaifa.setmarks(40)
print(huzaifa.getmarks())
print(huzaifa.calcgrade())

100
A
40
fail